<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Scraper</title>
</head>
<body>
    <h1>YouTube Scraper</h1>
    <form method="post" action="/">
        <label for="company">Enter Company Name:</label>
        <input type="text" id="company" name="company" required>
        <button type="submit">Scrape YouTube Data</button>
    </form>

    {% block content %}{% endblock %}

</body>
</html>